<%- include ('./partials/_header.ejs') %>

<div class="main-container bg--dark">
  <section class"">
    <div class="container ">

      <div class="row">
        <div class="col-md-12">
          <h2>Welcome to The Surface of Creativity</h5>
            <h1><span class=" typed-text typed-text--cursor color--primary"
                data-typed-strings="Community, Music, Culture, Education, Fitness, Hope"></span></h1>
            <h2> goes beyond borders.</h2>

            <h3>Discover live stream events <br>that match your interests.</h3>



        </div>

      </div>


      <a class="btn btn--primary type--uppercase" href="/events">
        <span class="btn__text">
          Discover live streams
        </span>
      </a> <br><br> <a class="btn btn--dark type--uppercase" href="/event/create">
        <span class="btn__text">
          List your live stream
        </span>
      </a>
    </div>


  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8">
          <h1>Why we built this website</h1>
          <p class="lead"> In a time of social distancing, live stream events offer us a chance to maintain community,
            culture, creativity and connection.&nbsp;<br><br>Our hope is that we can help you discover amazing live
            stream events that entertain, educate and fill you with hope for humanity.<br></p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8">
          <h2>How you can help</h2>
          <p class="lead">Join live stream events and support creators around the world.<br>Contribute links to your
            favorite live stream events.<br>Share with your friends, family and community.<br><br></p>
        </div>
      </div>
    </div>
  </section>

  <%- include ('./sections/_category-blocks.ejs') %>


</div>
<%- include ('./partials/_footer.ejs') %>