<%- include ('./partials/_header.ejs') %>

<div class="main-container bg--dark">
  <section class"">
    <div class="container ">

      <div class="row">
        <div class="col-md-12">
          <h2>Welcome to The Surface of Creativity</h5>
            <h1><span class=" typed-text typed-text--cursor color--primary"
                data-typed-strings="Community, Music, Culture, Education, Fitness, Hope"></span></h1>
            <h2> goes beyond borders.</h2>

            <h3>Discover live stream events <br>that match your interests.</h3>



        </div>

      </div>


      <a class="btn btn--primary type--uppercase" href="/event/all">
        <span class="btn__text">
          Discover live streams
        </span>
      </a> <a class="btn btn--dark type--uppercase" href="/event/create">
        <span class="btn__text">
          List your live stream
        </span>
      </a>
    </div>


  </section>

  <%- include ('./sections/_category-blocks.ejs') %>


</div>
<%- include ('./partials/_footer.ejs') %>