<%- include ('./partials/_header.ejs') %>

<div class="main-container">
  <section class="cover height-70 imagebg text-center slider slider--ken-burns" data-arrows="true" data-paging="true">
    <ul class="slides">
      <li class="imagebg" data-overlay="4">
        <div class="background-image-holder background--top">
          <img alt="background" src="img/landing-2.jpg" />
        </div>
        <div class="container pos-vertical-center">
          <div class="row">
            <div class="col-md-12">
              <h1>
                Streamline your workflow with Stack
              </h1>
              <a class="btn btn--primary type--uppercase" href="#">
                <span class="btn__text">
                  View The Demos
                </span>
              </a>
            </div>
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </li>
      <li class="imagebg" data-overlay="4">
        <div class="background-image-holder">
          <img alt="background" src="img/landing-3.jpg" />
        </div>
        <div class="container pos-vertical-center">
          <div class="row">
            <div class="col-md-12">
              <h1>
                Streamline your workflow with Stack
              </h1>
              <a class="btn btn--primary type--uppercase" href="#">
                <span class="btn__text">
                  View The Demos
                </span>
              </a>
            </div>
          </div>
          <!--end of row-->
        </div>
        <!--end of container-->
      </li>
    </ul>
  </section>
  <section class="bar bar-3 bar--sm bg--secondary">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="bar__module">
            <span class="type--fade">Stack | Multipurpose HTML Template with Variant Page
              Builder</span>
          </div>
        </div>
        <div class="col-lg-6 text-right text-left-xs text-left-sm">
          <div class="bar__module">
            <ul class="menu-horizontal">
              <li>
                <div class="modal-instance">
                  <a href="#" class="modal-trigger">Login</a>
                  <div class="modal-container">
                    <div class="modal-content section-modal">
                      <section class="unpad ">
                        <div class="container">
                          <div class="row justify-content-center">
                            <div class="col-md-6">
                              <div class="boxed boxed--lg bg--white text-center feature">
                                <div class="modal-close modal-close-cross"></div>
                                <h3>Login to Your Account</h3>
                                <a class="btn block btn--icon bg--facebook type--uppercase" href="#">
                                  <span class="btn__text">
                                    <i class="socicon-facebook"></i>
                                    Login with Facebook
                                  </span>
                                </a>
                                <a class="btn block btn--icon bg--twitter type--uppercase" href="#">
                                  <span class="btn__text">
                                    <i class="socicon-twitter"></i>
                                    Login with Twitter
                                  </span>
                                </a>
                                <hr data-title="OR" />
                                <div class="feature__body">
                                  <form>
                                    <div class="row">
                                      <div class="col-md-12">
                                        <input type="text" placeholder="Username" />
                                      </div>
                                      <div class="col-md-12">
                                        <input type="password" placeholder="Password" />
                                      </div>
                                      <div class="col-md-12">
                                        <button class="btn btn--primary type--uppercase" type="submit">
                                          Login
                                        </button>
                                      </div>
                                    </div>
                                    <!--end of row-->
                                  </form>
                                  <span class="type--fine-print block">Dont have an account yet?
                                    <a href="#">Create account</a>
                                  </span>
                                  <span class="type--fine-print block">Forgot your username or password?
                                    <a href="#">Recover account</a>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!--end of row-->
                        </div>
                        <!--end of container-->
                      </section>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="modal-instance">
                  <a href="#" class="modal-trigger">Create Account</a>
                  <div class="modal-container">
                    <div class="modal-content">
                      <section class="imageblock feature-large bg--white border--round ">
                        <div class="imageblock__content col-lg-5 col-md-3 pos-left">
                          <div class="background-image-holder">
                            <img alt="image" src="img/cowork-11.jpg" />
                          </div>
                        </div>
                        <div class="container">
                          <div class="row justify-content-end">
                            <div class="col-lg-7">
                              <div class="row justify-content-center">
                                <div class="col-lg-10 col-md-11">
                                  <h2>Create an account</h2>
                                  <p class="lead">
                                    Get started with a 14 day free trial, No
                                    credit card required &mdash; cancel at
                                    any time.
                                  </p>
                                  <a class="btn block btn--icon bg--facebook type--uppercase" href="#">
                                    <span class="btn__text">
                                      <i class="socicon-facebook"></i>
                                      Sign up with Facebook
                                    </span>
                                  </a>
                                  <a class="btn block btn--icon bg--twitter type--uppercase" href="#">
                                    <span class="btn__text">
                                      <i class="socicon-twitter"></i>
                                      Sign up with Twitter
                                    </span>
                                  </a>
                                  <hr data-title="OR" />
                                  <form>
                                    <div class="row">
                                      <div class="col-12">
                                        <input type="email" name="Email Address" placeholder="Email Address" />
                                      </div>
                                      <div class="col-12">
                                        <input type="password" name="Password" placeholder="Password" />
                                      </div>
                                      <div class="col-12">
                                        <button type="submit" class="btn btn--primary type--uppercase">
                                          Create Account
                                        </button>
                                      </div>
                                      <div class="col-12">
                                        <span class="type--fine-print">By signing up, you agree to the
                                          <a href="#">Terms of Service</a>
                                        </span>
                                      </div>
                                    </div>
                                    <!--end row-->
                                  </form>
                                </div>
                              </div>
                              <!--end of row-->
                            </div>
                            <!--end of col-->
                          </div>
                          <!--end of row-->
                        </div>
                        <!--end of container-->
                      </section>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <a href="#" data-notification-link="search-box">
                  <i class="stack-search"></i>
                </a>
              </li>
              <li>
                <a href="shop-cart.html">
                  <i class="stack-basket"></i>
                </a>
              </li>
              <li class="dropdown dropdown--absolute">
                <span class="dropdown__trigger">
                  <img alt="Image" class="flag" src="img/flag-1.png" />
                </span>
                <div class="dropdown__container">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-1 dropdown__content">
                        <ul class="menu-vertical text-left">
                          <li>
                            <a href="#">ENG</a>
                          </li>
                          <li>
                            <a href="#">GER</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <a href="#" data-notification-link="side-menu">
                  <i class="stack-dot-3"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <!--end bar-->
  <div class="notification pos-right pos-top side-menu bg--white" data-notification-link="side-menu"
    data-animation="from-right">
    <div class="side-menu__module">
      <a class="btn btn--icon bg--facebook block" href="#">
        <span class="btn__text">
          <i class="socicon-facebook"></i>
          Sign up with Facebook
        </span>
      </a>
      <a class="btn btn--icon bg--dark block" href="#">
        <span class="btn__text">
          <i class="socicon-mail"></i>
          Sign up with Email
        </span>
      </a>
    </div>
    <!--end module-->
    <hr />
    <div class="side-menu__module">
      <span class="type--fine-print float-left">Already have an account?</span>
      <a class="btn type--uppercase float-right" href="#">
        <span class="btn__text">Login</span>
      </a>
    </div>
    <!--end module-->
    <hr />
    <div class="side-menu__module">
      <ul class="list--loose list--hover">
        <li>
          <a href="#">
            <span class="h5">About Stack</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="h5">Careers</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="h5">Investors</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="h5">Locations</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="h5">Contact</span>
          </a>
        </li>
      </ul>
    </div>
    <!--end module-->
    <hr />
    <div class="side-menu__module">
      <ul class="social-list list-inline list--hover">
        <li>
          <a href="#">
            <i class="socicon socicon-google icon icon--xs"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="socicon socicon-twitter icon icon--xs"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="socicon socicon-facebook icon icon--xs"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="socicon socicon-instagram icon icon--xs"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="socicon socicon-pinterest icon icon--xs"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="notification pos-top pos-right search-box bg--white border--bottom" data-animation="from-top"
    data-notification-link="search-box">
    <form>
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
          <input type="search" name="query" placeholder="Type search query and hit enter" />
        </div>
      </div>
      <!--end of row-->
    </form>
  </div>
  <!--end of notification-->
  <section class="switchable switchable--switch feature-large unpad--bottom border--bottom">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-md-6">
          <div class="switchable__text">
            <h2>Designed for companies, small teams and freelancers</h2>
            <p class="lead">
              Stack's visual style is simple yet distinct, making it an
              ideal starting point for your project whether it be a basic
              marketing site, or multi-page company presence.
            </p>
            <a href="#">Learn More &raquo;</a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-12 text-center">
          <img alt="Image" src="img/device-1.png" />
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <section class="text-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
          <h2>All the tools you'll need</h2>
          <p class="lead">
            Whether you’re building a welcome mat for your SaaS or a clean,
            corporate portfolio, Stack has your design needs covered.
          </p>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <section class="feature-large feature-large-2">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-md-4 col-lg-3">
          <h3>Experience quality</h3>
          <p class="lead">
            Stack is built with customization and ease-of-use at its core
            &mdash; whether you're a seasoned developer or just starting
            out, you'll be making attractive sites faster than any
            traditional HTML template.
          </p>
        </div>
        <div class="col-md-4 col-lg-4">
          <img alt="Image" class="border--round box-shadow" src="img/landing-4.jpg" />
        </div>
        <div class="col-md-4 col-lg-2">
          <hr class="short" />
          <p>
            Each purchase of Stack includes six months of free support,
            including access to our dedicated support forum. In addition to
            support you'll recieve lifetime updates, including new content
            and bug-fixes.
          </p>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <section class="imageblock switchable feature-large bg--secondary">
    <div class="imageblock__content col-lg-4 col-md-3 pos-right">
      <div class="background-image-holder">
        <img alt="image" src="img/landing-5.jpg" />
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-6">
          <h2>Design-driven and perfect for modern startups</h2>
          <p class="lead">
            Stack offers a clean and contemporary to suit a range of
            purposes from corporate, tech startup, marketing site to digital
            storefront.
          </p>
          <div class="feature-large__group">
            <div class="row">
              <div class="col-md-6">
                <div class="feature feature-6">
                  <i class="icon icon--sm icon-Text-Effect color--primary"></i>
                  <h5>Design Quickly</h5>
                  <p>
                    Combine blocks from a range of categories to build pages
                    that are rich in visual style and interactivity
                  </p>
                </div>
                <!--end feature-->
              </div>
              <div class="col-md-6">
                <div class="feature feature-6">
                  <i class="icon icon--sm icon-Post-Mail2 color--primary"></i>
                  <h5>Collect Leads</h5>
                  <p>
                    Stack comes with integration for Mail Chimp and Campaign
                    Monitor forms - ideal for launching modern marketing
                    campaigns
                  </p>
                </div>
                <!--end feature-->
              </div>
            </div>
            <!--end of row-->
          </div>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <section class="space--xs">
    <div class="container">
      <div class="cta cta--horizontal text-center-xs row">
        <div class="col-md-4">
          <h4>Let's get you started</h4>
        </div>
        <div class="col-md-5">
          <p class="lead">
            Start building beautiful pages in your browser
          </p>
        </div>
        <div class="col-md-3 text-right text-center-xs">
          <a class="btn btn--primary type--uppercase" href="#">
            <span class="btn__text">
              Try Builder
            </span>
          </a>
        </div>
      </div>
    </div>
    <!--end of container-->
  </section>
   
</div>
<%- include ('./partials/_footer.ejs') %>
