<section class="unpad text-center bg--dark">
    
    <h3>Discover new live streams!</h3>
    <div class="row--gapless row no-gutters">
        <div class="col-md-4 col-6">
            <a href="/event/category/music" class="block">
                <div class="feature feature-7 boxed imagebg" data-overlay="3">
                    <div class="background-image-holder">
                        <img alt="background" src="/img/music-1.jpg" />
                    </div>
                    <h4 class="pos-vertical-center">Music</h4>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-6">
            <a href="/event/category/Fitness" class="block">
                <div class="feature feature-7 boxed imagebg" data-overlay="3">
                    <div class="background-image-holder">
                        <img alt="background" src="/img/fitness-2.jpg" />
                    </div>
                    <h4 class="pos-vertical-center">Fitness</h4>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-6">
            <a href="/event/category/Education" class="block">
                <div class="feature feature-7 boxed imagebg" data-overlay="3">
                    <div class="background-image-holder">
                        <img alt="background" src="/img/education-3.jpg" />
                    </div>
                    <h4 class="pos-vertical-center">Education</h4>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-6">
            <a href="/event/category/Performance" class="block">
                <div class="feature feature-7 boxed imagebg" data-overlay="3">
                    <div class="background-image-holder">
                        <img alt="background" src="/img/tourism-7.jpg" />
                    </div>
                    <h4 class="pos-vertical-center">Performance</h4>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-6">
            <a href="/event/category/Cooking" class="block">
                <div class="feature feature-7 boxed imagebg" data-overlay="3">
                    <div class="background-image-holder">
                        <img alt="background" src="/img/restaurant-1.jpg" />
                    </div>
                    <h4 class="pos-vertical-center">Cooking</h4>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-6">
            <a href="/event/category/Games" class="block">
                <div class="feature feature-7 boxed imagebg" data-overlay="3">
                    <div class="background-image-holder">
                        <img alt="background" src="/img/menu-promo-3.jpg" />
                    </div>
                    <h4 class="pos-vertical-center">Games</h4>
                </div>
            </a>
        </div>
    </div>
</section>