<section class="switchable feature-large bg--secondary">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-md-12 text-center">
          <h2>Would you like to see more?</h2>
          <p class="lead">
            Create an account and enjoy all our great picks!!
          </p>
          <a class="btn btn--primary btn--sm type--uppercase" href="/register">
            <span class="btn__text">
              Create Account
            </span>
          </a>
        </div>
       
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>