<section class="bg--dark">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h4>Discover LiveStreams from around the world.</h4>
                <h4>Featured Cities</h4>
            </div>
            <div class="col-6 text-right">
                <a href="#">View more</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-6">
                <a href="#" class="block">
                    <div class="feature feature-7 boxed text-center imagebg" data-overlay="3">
                        <div class="background-image-holder">
                            <img alt="background" src="/img/accom-5.jpg" />
                        </div>
                        <h4 class="pos-vertical-center">Sydney</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-6">
                <a href="#" class="block">
                    <div class="feature feature-7 boxed text-center imagebg" data-overlay="3">
                        <div class="background-image-holder">
                            <img alt="background" src="/img/accom-6.jpg" />
                        </div>
                        <h4 class="pos-vertical-center">San Francisco</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-6">
                <a href="#" class="block">
                    <div class="feature feature-7 boxed text-center imagebg" data-overlay="3">
                        <div class="background-image-holder">
                            <img alt="background" src="/img/accom-7.jpg" />
                        </div>
                        <h4 class="pos-vertical-center">Berlin</h4>
                    </div>
                </a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>