<section class="bg--dark">
    <div class="container ">
        <br /><br /><br />
        <div class="row">
            <div class="col-6">
                <h2 class="">Our Staff Picks</h2>
                <h4>Featured Experiences</h4>
            </div>
            <div class="col-6 text-right">
                <a href="#">View more</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-6">
                <a href="#" class="feature">
                    <img alt="Pic" src="/img/tourism-9.jpg" />
                    <h5 class="mb--0">LA Beatbox Competition</h5>
                    <div>$75 &#9702; 4 hour experience</div>
                </a>
            </div>
            <div class="col-md-3 col-6">
                <a href="#" class="feature">
                    <img alt="Pic" src="/img/tourism-8.jpg" />
                    <h5 class="mb--0">Canoe Lake Penner</h5>
                    <div>$125 &#9702; 6 hour experience</div>
                </a>
            </div>
            <div class="col-md-3 col-6">
                <a href="#" class="feature">
                    <img alt="Pic" src="/img/tourism-7.jpg" />
                    <h5 class="mb--0">Sierra Nevada Hike</h5>
                    <div>$299 &#9702; 2 day experience</div>
                </a>
            </div>
            <div class="col-md-3 col-6">
                <a href="#" class="feature">
                    <img alt="Pic" src="/img/tourism-6.jpg" />
                    <h5 class="mb--0">Hollywood Filming Locations</h5>
                    <div>$35 &#9702; Walking tour</div>
                </a>
            </div>
        </div>
    </div>
</section>